<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <DirectoryRef Id="INSTALLDIR">
      <!-- An HKLM key path keeps this variant's registration in machine scope. -->
      <Component Id="MunimentMachineRegistration" Guid="8e5878e5-339e-5a66-b76d-75613863a610" Win64="yes">
        <RegistryKey Root="HKLM" Key="Software\Muniment\muniment">
          <RegistryValue Name="InstallDir" Type="string" Value="[INSTALLDIR]" KeyPath="yes" />
        </RegistryKey>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>
